{% extends "base.html" %}

{% block content %}

    <style>
        .btn {
            background-color: #73f767;
            color: black;
            border: none;
            border-radius: 12px;
            padding: 10px 20px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .btn:hover {
            background-color: #16ff01;
        }
    </style>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="Cadastrar Transação" class="btn">
    </form>

{% endblock  %}