{% extends "base.html" %}

{% block title %} Transações {% endblock title %}


{% block content %}

<div class="table-responsive">
    <table class="table table-bordered border border-black border-2 table-hover">
        <thead class="text-center">
            <tr>
                <th>Situação</th>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Conta</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td></td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.account }}</td>
                <td>{{ transaction.value }}</td>
                <td>
                    <a href="{% url 'transaction-update' pk=transaction.pk %}" class="text-decoration-none">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="text-decoration-none" href="{% url 'transaction-delete' pk=transaction.pk %} ">
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link">Página {{ page_obj.number }} de
                                    {{page_obj.paginator.num_pages }}</a>
                            </li>
                            {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="?page=1">Anterior</a>
                            </li>
                            {% endif %}
                            {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ page_obj.next_page_number }}">Próxima</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Próxima</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </td>
            </tr>

        </tbody>



    </table>
</div>

{% endblock %}