{% extends "base.html" %}

{% block title %} Transações {% endblock title %}


{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        color: #eaeaea;
    }
    .table-container {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        background-color: #2c2c2c;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    }
    .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #9c6eff;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .table-header button {
        background: transparent;
        border: none;
        color: #9c6eff;
        font-size: 16px;
        cursor: pointer;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #2c2c2c;
        color: #eaeaea;
    }
    thead th {
        text-align: left;
        padding: 12px;
        background-color: #383838;
        color: #a0a0a0;
        font-size: 14px;
    }
    tbody tr {
        border-bottom: 1px solid #383838;
    }
    tbody tr:hover {
        background-color: #333333;
    }
    td {
        padding: 12px;
        font-size: 14px;
    }
    .icon {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .icon i {
        font-size: 16px;
        color: #9c6eff;
    }
    .status-negative {
        color: red;
        font-size: 16px;
    }

    .status-positive {
        color: green;
        font-size: 16px;
    }

    .value-negative {
        color: #f05252;
        font-weight: bold;
    }
    .value-positive {
        color: #52f0a2;
        font-weight: bold;
    }
    .actions button {
        text-decoration: none;
        background: none;
        border: none;
        color: #9c6eff;
        cursor: pointer;
        margin-left: 8px;
    }

    a {
        text-decoration: none;
        color: white;
    }
   

    .dropdown {
        position: relative;
        display: inline-block;
        
    }

    .btn-new-transaction {
        margin-left: 20px;
    }

    .btn-new-transaction a{
        text-decoration: none;
        color: white;
    }

    .button {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #9c6eff;
        color: white;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
    .button:hover {
        background-color: #6e2bf3;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }
    .button i {
        font-size: 12px;
        transform: rotate(90deg);
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #2c2c2c;
        min-width: 160px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        overflow: hidden;
        z-index: 1;
    }
    .dropdown-content a {
        display: block;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        background-color: #2c2c2c;
        font-size: 14px;
        transition: background-color 0.2s ease;
    }
    .dropdown-content a:hover {
        background-color: #383838;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .table-footer {
        display: flex;
        padding: 3px;
        justify-content: space-between;
        background-color: #383838;
        color: #a0a0a0;
        font-size: 14px;
    }

    .footer-value {
        display: flex;
        margin-right: 13rem;
    }

    .pagination {
        display: flex;
        gap: 10px;
        margin-left: 11rem;
        align-items: center;
    }
    .pagination button {
        background: transparent;
        border: none;
        color: #9c6eff;
        cursor: pointer;
    }

    .buttons-table-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

</style>



<div class="container">
    <div class="table-container">

        <div class="buttons-table-content">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Selecione a Categoria
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Receitas</a></li>
                    <li><a class="dropdown-item" href="#">Despesas</a></li>
                </ul>
            </div>

            <div class="btn-content">
                <button class="btn-color btn btn-secondary ">
                    <a href=" {% url 'transaction-create' %}">Nova Transação</a>
                </button>
            </div>
        </div>


        {% if transactions %}
            <div class="table-header">
                <button>&lt;</button>
                <input type="date" name="" id="">
                <button>&gt;</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Situação</th>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Conta</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>
                                    {% if transaction.category.category == 'Receita' %}
                                        <span class="status-positive">●</span>
                                    {% elif transaction.category.category == 'Despesa' %}
                                        <span class="status-negative">●</span>
                                    {% endif %}
                                </td>
                                <td>{{ transaction.created_at }}</td>
                                <td>{{ transaction.description }}</td>
                                <td>{{ transaction.category }} </td>
                                <td>{{ transaction.account }} </td>
                                    {% if transaction.category.category == 'Receita' %}
                                        <td class="value-positive">{{ transaction.value }} </td>
                                    {% else %}    
                                        <td class="value-negative">{{ transaction.value }} </td>
                                    {% endif %}
                                <td class="actions">
                                    <button class="edit-btn" data-id="{{ transaction.pk }}" data-category-name="{{ transaction.category.category }}">Editar</button>
                                    <button> <a href="{% url 'transaction-delete' pk=transaction.pk %}">Excluir</a></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        {% endif %}

        <div class="table-footer">
            <div class="pagination">
                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_previous %}
                <a href="?page=1">&lt;&lt;</a>
                <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
                {% endif %}
            </div>
            <div class="footer-value">
                <span>Total: {{ total_value }} </span>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Edição -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Transação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" method="POST">
                    <input type="hidden" id="transactionId">
                    <div class="mb-3">
                        <label for="description" class="form-label">Descrição</label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">ID da Categoria</label>
                        <input class="form-control" id="category_id" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Nome da Categoria</label>
                        <input class="form-control" id="category_name">
                    </div>
                    <div class="mb-3">
                        <label for="account" class="form-label">ID da Conta</label>
                        <input type="text" class="form-control" id="account_id" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="account" class="form-label">Nome da Conta</label>
                        <input type="text" class="form-control" id="account_name">
                    </div>
                    <div class="mb-3">
                        <label for="value" class="form-label">Valor</label>
                        <input type="number" step="0.01" class="form-control" id="value">
                    </div>
                    <div class="mb-3">
                        <label for="created_at" class="form-label">Data</label>
                        <input type="date" class="form-control" id="created_at">
                    </div>
                    <button type="button" class="btn btn-success" id="saveChanges">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".edit-btn").forEach(button => {
            button.addEventListener("click", function() {
                const transactionId = this.getAttribute("data-id");
    
                fetch(`/transactions/${transactionId}/update/`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById("transactionId").value = data.id;
                        document.getElementById("description").value = data.description;
                        document.getElementById("category_id").value = data.category_id;
                        document.getElementById("category_name").value = data.category_name;
                        document.getElementById("account_id").value = data.account_id;
                        document.getElementById("account_name").value = data.account_name;
                        document.getElementById("value").value = data.value;
                        document.getElementById("created_at").value = data.created_at;
                        
                        new bootstrap.Modal(document.getElementById("editModal")).show();
                    });
            });
        });
    
        document.getElementById("saveChanges").addEventListener("click", function() {
            const transactionId = document.getElementById("transactionId").value;
            const description = document.getElementById("description").value;
            const category_id = document.getElementById("category_id").value;
            const category_name = document.getElementById("category_name").value;
            const account_id = document.getElementById("account_id").value;
            const account_name = document.getElementById("account_name").value;
            const value = document.getElementById("value").value;
            const created_at = document.getElementById("created_at").value;
    
            fetch(`/transactions/${transactionId}/update/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    description: description,
                    category_id: category_id,
                    account: account_id,
                    value: value,
                    created_at: created_at
                })
            })
            .then(response => response.json())
            .then(data => {
                alert("Transação atualizada com sucesso!");
                location.reload();
            });
        });
    });
</script>



{% endblock %}

