<div class="modal fade" id="ModalTransaction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Nova Transação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="transactionForm">
                    {% csrf_token %}
                    <div class="mb-4">
                        <span>
                            Valor: {{form.value}}
                        </span>
                    </div>
                    <div class="mb-4">
                        <span>
                            Descrição: {{form.description}}
                        </span>
                    </div>
                    <div class="mb-4">
                        <label for="due_date"> Data de Vencimento</label>
                        {{form.due_date}}
                    </div>
                    <div class="mb-4">
                        <span>
                            Conta: {{form.account}}
                            <a class="addaccountbutton text-decoration-none btn" data-bs-toggle="tooltip"
                                data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                                data-bs-title="Clique aqui para criar uma nova conta">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </span>
                    </div>
                    <div class="mb-4">
                        <span>
                            Categoria: {{form.category}}
                            <a class=" addcategoriebutton text-decoration-none btn" data-bs-toggle="tooltip"
                                data-bs-placement="right" data-bs-custom-class="custom-tooltip"
                                data-bs-title="Clique aqui para criar uma nova categoria">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </span>
                    </div>
                    <button type="submit" class="btn btn-success" id="saveTransaction">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll("#newTransactionButton").forEach(button => {
            button.addEventListener("click", function () {

                new bootstrap.Modal(document.getElementById("ModalTransaction")).show();
            });
        });
    });
    document.getElementById("saveTransaction").addEventListener("click", function () {
        let form = document.getElementById("transactionForm");
        let formData = new FormData(form);
        let jsonData = {};

        formData.forEach((value, key) => jsonData[key] = value); // Converte FormData em JSON

        fetch("{% url 'transaction-create' %}", {
            method: "POST",
            body: JSON.stringify(jsonData), // Envia os dados como JSON
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Transação salva com sucesso!");
                    window.location.reload();  // Atualiza a página
                }
            })
            .catch(error => console.error("Erro:", error));
    });
</script>