<div class="modal fade" id="ModalAccounts" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Criar Nova Conta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="accountsForm">
                    {% csrf_token %}
                    {{form_accounts.as_p}}
                    <button type="submit" class="btn btn-success" id="saveAccounts">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".addaccountbutton").forEach(button => {
            button.addEventListener("click", function () {

                new bootstrap.Modal(document.getElementById("ModalAccounts")).show();
            });
        });
    });
    document.getElementById("saveAccounts").addEventListener("click", function () {
        let form = document.getElementById("accountsForm");
        let formData = new FormData(form);
        let jsonData = {};

        formData.forEach((value, key) => jsonData[key] = value);

        fetch("{% url 'account-create' %}", {
            method: "POST",
            body: JSON.stringify(jsonData),
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Conta criada com sucesso");
                    window.location.reload();
                }
            })
            .catch(error => console.error("Erro:", error));
    })
</script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>