{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">
                        Cadastre-se
                    </h3>
                    <form method="post" class="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success mt-3">
                            Cadastrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}