<div
  class="modal fade"
  id="ModalTransaction"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Nova Transação
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="transactionForm">
          {% csrf_token %}
          <div class="mb-3">
            <span> Valor: {{form.value}} </span>
          </div>
          <div class="mb-3">
            <span> Descrição: {{form.description}} </span>
          </div>
          <div class="mb-3">
            <span>Data de vencimento: {{form.due_date}}</span>
          </div>
          <div class="mb-3">
            <span> Conta: {{form.account}} </span>
          </div>
          <div class="mb-3">
            <span> Categoria: {{form.category}} </span>
          </div>
          <button type="submit" class="btn btn-success" id="saveTransaction">
            Salvar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

